html {
    background-color: rgb(9, 194, 178);
}

h1 {
    min-width: 200px;
    max-width: 450px;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 10px;
    font-size: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 48px;
}

ol {
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

li {
    margin: 10px;
    font-size: 24px;
}