html {
    height: 100%;
    background: linear-gradient(178deg, rgb(9, 126, 194) 5%,rgb(9, 194, 178), rgb(230, 169, 119) 90%, rgb(230, 125, 107));
    background-attachment: fixed;
}

body {
    text-align: center;
}

div {
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    min-width: 400px;
    max-width: 650px;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 10px;
    font-size: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 48px;
    color: rgb(195, 144, 101);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    box-shadow: 3px 2px 3px rgb(74, 61, 88);
}

h2 {
    text-align: center;
    color: rgb(195, 144, 101);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

h3 {
    text-align: center;
    color: rgb(195, 144, 101);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

div {
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 400px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 2px 3px rgb(74, 61, 88);
}

.myLists {
    text-align: left;
}

li {
    margin: 10px;
    font-size: 24px;
}

#hellraiser {
    margin-left: 110px;
}

#headshot {
    max-width: 300px;
    min width: 150px;
    max-height: 300px;
    min-height: 150px;
    margin: 20px auto 0px auto;
    border: 4px black solid;
    border-radius: 50%;
}

/* Used image swap solution proposed on StackOverflow by user Vucko 
on this thread: https://stackoverflow.com/questions/18813299/changing-image-on-hover-with-css-html */
#headshot:hover {
    content: url(img/Avatar.png);
    max-width: 300px;
    min width: 150px;
    max-height: 300px;
    min-height: 150px;
}

.gamebox {
    text-align: center;
    align-items: center;
}

button {
    display: inline-block;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background: rgb(92, 161, 179);
    font-family: serif;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(54, 54, 54);
    margin: auto;
}

a {
    font-size: 24px;
}

p {
    font-size: 24px;
    text-align: left;
    text-indent: 18px;
    margin-left: 30px;
    margin-right: 30px;
}