html {
    height: 100%;
    background: linear-gradient(178deg, rgb(9, 126, 194) 5%,rgb(9, 194, 178), rgb(230, 169, 119) 90%, rgb(230, 125, 107));
    background-attachment: fixed;
}

div {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    min-width: 400px;
    max-width: 650px;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 10px;
    font-size: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 48px;
    color: rgb(195, 144, 101);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

h2 {
    text-align: center;
    color: rgb(195, 144, 101);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

h3 {
    text-align: center;
    color: rgb(195, 144, 101);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.myLists {
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 400px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

li {
    margin: 10px;
    font-size: 24px;
}

#hellraiser {
    margin-left: 110px;
}