html {
    height: 100%;
    background: linear-gradient(rgb(9, 194, 178), rgb(230, 169, 119));
    background-attachment: fixed;
}

h1 {
    min-width: 200px;
    max-width: 450px;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 10px;
    font-size: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 48px;
    color: rgb(195, 144, 101);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

h2 {
    text-align: center;
    color: rgb(195, 144, 101);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

h3 {
    text-align: center;
    color: rgb(195, 144, 101);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.myLists {
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 400px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

li {
    margin: 10px;
    font-size: 24px;
}